@page "/web-crypto"

@using JSInterop.Browser.TestApp.Units.WebCrypto

<PageTitle>Web Crypto</PageTitle>

<div id="main">

    <UWebCrypto />
    <UWebCryptoSubtleAES />
    <UWebCryptoSubtleRSA />
    <UWebCryptoSubtleEC />
    <UWebCryptoSubtleHMAC />
    <UWebCryptoSubtleSHA />
    <UWebCryptoSubtleDF />

</div>
