@page "/encrypt"

@using JSInterop.Browser.WebCryptoAPI.Interfaces.CryptoKeys

@using JSInterop.Browser.WebCryptoAPI.Cryptography
@using JSInterop.Browser.WebCryptoAPI.Cryptography.Random
@using JSInterop.Browser.WebCryptoAPI.Cryptography.AES
@using JSInterop.Browser.WebCryptoAPI.Cryptography.RSA

@inject AesFactory _aesFactory
@inject RsaFactory _rsaFactory
@inject CryptoRandom _cryptoRand


<PageTitle>Encrypt</PageTitle>

<h1>Implements examples adapted from https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/encrypt.</h1>


@code {
    // TODO: add an interface to allow user interaction instead of hardcoded data.

    /// <summary>
    /// AES-GCM.
    /// </summary>
    /// <param name="key">AES key to use.</param>
    /// <returns></returns>
    private async Task<byte[]?>
    AesGcm(CryptoKeyDescriptor key, byte[] plaintext)
    {
        await using AesGcm? gcm = this._aesFactory.Create<AesGcm>(key);
        if (gcm is null)
        {
            return null;
        }

        byte[]? iv = await this._cryptoRand.GenerateRandomValues(12);
        if (iv is not null)
        {
            return await gcm.Encrypt(plaintext, iv);
        }

        return null;
    }

    /// <summary>
    /// AES-CTR.
    /// </summary>
    /// <param name="key"></param>
    /// <returns></returns>
    private async Task<byte[]?>
    AesCtr(CryptoKeyDescriptor key, byte[] plaintext)
    {
        await using AesCtr? ctr = this._aesFactory.Create<AesCtr>(key);
        if (ctr is null)
        {
            return null;
        }

        byte[]? counter = await this._cryptoRand.GenerateRandomValues(16);
        if (counter is not null)
        {
            return await ctr.Encrypt(plaintext, counter, 64);
        }

        return null;
    }

    /// <summary>
    /// AES-CBC.
    /// </summary>
    /// <param name="key"></param>
    /// <returns></returns>
    private async Task<byte[]?>
    AesCbc(CryptoKeyDescriptor key, byte[] plaintext)
    {
        await using AesCbc? cbc = this._aesFactory.Create<AesCbc>(key);
        if (cbc is null)
        {
            return null;
        }

        byte[]? iv = await this._cryptoRand.GenerateRandomValues(16);
        if (iv is not null)
        {
            return await cbc.Encrypt(plaintext, iv);
        }

        return null;
    }

    /// <summary>
    /// RSA-OAEP.
    /// </summary>
    /// <param name="keyPair"></param>
    /// <returns></returns>
    private async Task<byte[]?>
    RsaOaep(CryptoKeyPairDescriptor keyPair, byte[] plaintext)
    {
        await using RsaOaep? oaep = this._rsaFactory.Create<RsaOaep>(keyPair);
        if (oaep is null)
        {
            return null;
        }

        return await oaep.Encrypt(plaintext);
    }

}
